---
layout: cssday
title: CSS Day
ttl: CSS Day
conf_anno: 2017
conf_data: "Faenza (RA),  17 marzo 2017"
cfp: true
cfp_url: https://goo.gl/forms/NpVU3q7xmcSaspsJ2
speakers: false
cfs: true
where: faenza-sarti
tickets: true
tickets_url: //eventbrite.com/tickets-external?eid=28891550405
---

{% include section-newsletter.html %}
{% include section-contents.html %}

{% if page.cfp %} {% include section-cfp.html %} {% endif %}
{% if page.tickets %} {% include section-tickets.html %} {% endif %}
{% if page.speakers %} {% include section-speakers.html %} {% endif %}

  {% capture place %}{{'places/'}}{{page.where}}{{'.html'}}{% endcapture %}
  {% include {{place}} %}

{% include section-sponsors.html %}
