---
title: Schedule
---

<div class="limit limit--top-margin">

  <h3>
    schedule
  </h3>

  <h4>
    24 marzo
  </h4>

  <div class="schedule">
    <table class="schedule__table">
      <thead>
        {% include schedule/header-full.html %}
      </thead>
      <tbody>
        {% include schedule/event.html time='8.30-9:30' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.30-9:45' title='Presentazione GrUSP' fill='true' %}

        {% include schedule/talk.html time='9.45-10:45' title='Deploying PHP 7' keynote='true' fill='true' %}

        {% include schedule/pause.html time='10.45-11:00' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title='Your API is a UI' time='11.00-12:00' %}
          {% include schedule/talk.html title='PHP 7 performances from PHP 5' %}
          {% include schedule/talk.html title='Ah quindi non... PHP' %}
        </tr>

        {% include schedule/pause.html time='13.00-14:30' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html title='Your API is a UI' time='14:30-15:30' %}
          {% include schedule/talk.html title='PHP 7 performances from PHP 5' %}
          {% include schedule/talk.html title='Ah quindi non... PHP' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Your API is a UI' time='15:30-16:30' %}
          {% include schedule/talk.html title='PHP 7 performances from PHP 5' %}
          {% include schedule/talk.html title='Ah quindi non... PHP' %}
        </tr>

        {% include schedule/pause.html time='16.30-17:00' title='Coffee break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html title='Your API is a UI' time='17:00-17:30' %}
          {% include schedule/talk.html title='PHP 7 performances from PHP 5' %}
          {% include schedule/talk.html title='Ah quindi non... PHP' %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Your API is a UI' time='17:30-18:00' %}
          {% include schedule/talk.html title='PHP 7 performances from PHP 5' %}
          {% include schedule/talk.html title='Ah quindi non... PHP' %}
        </tr>

        {% include schedule/pause.html time='18.30-18:45' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>


</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
