<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>    
  <script>
  function initialize_map() {
          var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(45.06448847650592, 7.6572346687316895),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          var map = new google.maps.Map(document.getElementById('map_canvas'),
                                        mapOptions);

          var I3P = new google.maps.Marker({
              position: new google.maps.LatLng(45.06539781596831, 7.657513618469238),
              map: map,
              icon: 'img/marker_i3p.png',
        title:"I3P"
          });
      var hotel_sanpaolo = new google.maps.Marker({
              position: new google.maps.LatLng(45.0598373, 7.6529137),
              map: map,
              icon: 'img/marker_hotel.png',
        title:"Hotel Residence San Paolo"
          });
      var stazione_portasusa = new google.maps.Marker({
              position: new google.maps.LatLng(45.068641008917346, 7.6639509201049805),
              map: map,
              icon: 'img/marker_trasporti.png',
        title:"Stazione Metro e Treni Porta Susa"
          });
      var fermata_tram_tribunale = new google.maps.Marker({
              position: new google.maps.LatLng(45.069232038276766, 7.660109996795654),
              map: map,
              icon: 'img/marker_trasporti.png',
        title:"Fermata Autobus e Tram Palazzo di Giustizia"
          });
      var fermata_tram_ferrucci = new google.maps.Marker({
              position: new google.maps.LatLng(45.06244240982845, 7.655389308929443),
              map: map,
              icon: 'img/marker_trasporti.png',
        title:"Fermata Corso Peshiera/Ferrucci"
          });
      var fermata_tram_ferrucci = new google.maps.Marker({
              position: new google.maps.LatLng(45.06577670314182, 7.655142545700073),
              map: map,
              icon: 'img/marker_trasporti.png',
        title:"Fermata Corso Ferrucci/Bandiera"
          });
      var pizzeria = new google.maps.Marker({
              position: new google.maps.LatLng(45.06510228222967, 7.654681205749512),
              map: map,
              icon: 'img/marker_ristoranti.png',
        title:"Pizzeria Quelli Che Ben Pensano 2"
          });
      var pizzeria_solitiamici = new google.maps.Marker({
              position: new google.maps.LatLng(45.06733769180998, 7.66270637512207),
              map: map,
              icon: 'img/marker_ristoranti.png',
        title:"Ristorante Quattro Soldi"
          });
      var pizzeria_solitiamici = new google.maps.Marker({
              position: new google.maps.LatLng(45.06497535380877, 7.659240961074829),
              map: map,
              icon: 'img/marker_ristoranti.png',
        title:"Mensana - Mensa Studenti Politecnico"
          });
  
        }
    </script>
<a name="location"></a>
<section class="alpha_32">
  <div class="container group">
      <h3 class="column_12">Location</h3>
      <div class="column_6 map">
        <div id="map_canvas"></div>
      </div>

      <div class="column_6 legend right">
        <dl>
          <dt class="event_location"><span><strong>Event location</strong></span></dt>
            <dd  class="event_location">
             <strong>c/o <a href="http://www.i3p.it/">I3P</a></strong>
                                                        Incubatore di Imprese Innovative del Politecnico di Torino<br>
              Via Pier Carlo Boggio 59<br>
              10138 Torino
          </dd>
          <dt class="eat"><span><strong>Dove mangiare</strong></span></dt>
            <dd>Ristoranti</dd>
          <dt class="get_to"><span><strong>Come arrivare</strong></span></dt>
            <dd>Trasporti</dd>
          <dt class="stay"><span><strong>Dove dormire</strong></span></dt>
            <dd>Alberghi</dd>
        </dl>
      </div>

      <div class="clear"></div>

      <div class="column_3">
        <h5>In auto</h5>
            <p>Dall'autostrada, seguire le indicazioni per il centro.</p>
            <p>In città, seguire le indicazioni per il Politecnico o la stazione Porta Susa o il Tribunale (palazzo di giustizia).</p>
            <p><strong>Dal Politecnico</strong>: avendo l'entrata principale alla propria destra, proseguire su corso Duca degli Abruzzi, svoltare a destra al primo incrocio con semaforo, su corso Peschiera. Svoltare poi a destra al secondo semaforo, per corso Ferrucci e infine prendere la prima strada a destra.</p>
            <p><strong>Da Porta Susa</strong>: avendo l'entrata principale a destra, proseguire fino alla fine di corso Bolzano. Svoltare a destra su corso Vittorio Emanuele II e proseguire per 350m verso il Tribunale.</p>
            <p><strong>Dal Tribunale</strong>: di fronte l'entrata, in corso Vittorio Emanuele II, svoltare su via Borsellino, verso il Museo del Carcere, e proseguire sulla stessa strada.</p>

      </div>

      <div class="column_3">
        <h5>In treno</h5>
            <p>
            <strong>Dalla stazione di  Porta Susa sotterranea (Frecciarossa)</strong>: uscire verso corso Inghilterra. Proseguire verso corso Vittorio Emanuele II. Arrivati di fronte al tribunale, girare a sinistra, su via Borsellino. Proseguire lungo la strada.
            </p>
            <p><strong>Dalla stazione di Porta Susa (piazza XVIII Dicembre)</strong>: Bus 56, direzione Tirreno, 10 fermante. Proseguire in direzione dell'autobus fino all'incrocio e girare a sinistra, su via Fratelli Bandiera. Alla fine della strada, girare a destra.
            </p>
            <p><strong>Dalla stazione di Porta Nuova</strong>:
              </p><ul>
                <li>
                  <strong>Bus 68</strong>, direzione via Frejus, 5 fermate. Di fronte al Tribunale, girare a sinistra e proseguire su via Borsellino.
                </li>
                <li>
                  <strong>Tram 9</strong>, direzione Stampalia, 5 fermate. Di fronte al Tribunale, girare a sinistra e proseguire su via Borsellino.
                </li>
                <li>
                  <strong>Bus 33/</strong>, direzioni Partigiani, 8 fermate. Su corso Ferucci andare a sinistra, poi la prima strada a destra.
                </li>
              </ul>
              
            <p></p>
      </div>

      <div class="column_3">
        <h5>In aereo</h5>
            <p> 
                                                  <a title="Aeroporto di Torino" href="http://www.aeroportoditorino.it/">Aereporto di Torino</a>.
              Di fronte l'uscita degli arrivi, prendere l'autobus <a target="_blank" href="http://www.sadem.it/upload/orari/estivi/000268.pdf">Sadem per Torino</a>.
              L'autobus ferma a Porta Susa (piazza XVIII Dicembre) e Porta Nuova. Seguire le indicazioni "In treno".
            </p>
      </div>

      <div class="column_3">
        <h5>Pernottamento</h5>
            <p> 
                Consigliamo di prenotare presso l'<a target="_blank" href="http://www.sanpaolo-to.com/">Hotel Residence Sanpaolo</a>. L'albergo è a <a target="_blank" href="http://goo.gl/maps/4PjXZ">poche centinaia di metri dall'I3P</a>, offre WiFi gratuito, colazione a buffet e parcheggio.<br><br>
              Contatti:<br>
              <a target="_blank" href="http://www.sanpaolo-to.com/">Hotel Residence Sanpaolo</a><br>Via Spalato 7, 10141 Torino<br>Tel +39 011.3853953<br>Fax +39 011.3352880<br><a href="mailto:info@sanpaolo-to.com">info@sanpaolo-to.com</a>
              
            
            </p>
      </div>
    </div>

    <div class="clear"></div>
  <div class="separator"></div>
</section>