<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
function initialize_map() {
        var mapOptions = {
          zoom: 15,
          center: new google.maps.LatLng(45.4900175, 9.2345528),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'),
                                      mapOptions);

        var nextre = new google.maps.Marker({
            position: new google.maps.LatLng(45.4900175, 9.2345528),
            map: map,
            icon: 'img/marker_i3p.png',
			title:"Nextre"
        });
		var stazione_udine = new google.maps.Marker({
            position: new google.maps.LatLng(45.491058, 9.237002),
            map: map,
            icon: 'img/marker_trasporti.png',
			title:"Stazione Metro M2 Udine"
        });



      }
</script>

<a name="location"></a>
<section class="alpha_32">
	<div class="container group">
		<h3 class="column_12">Location</h3>
		<div class="column_6 map">
			<div id="map_canvas"></div>
		</div>

		<div class="column_6 legend right">
			<dl>
			  <dt class="event_location"><span><strong>Event location</strong></span></dt>
			    <dd  class="event_location">
			    	<a href="http://www.nextre.it/">Nextre</a><br/>
				Via Ludovico d'Aragona 9, <br/>
				Milano, Italy
				</dd>					
			</dl>
		</div>

		<div class="clear"></div>

		<div class="column_3">
			<h5>In auto</h5>
			<p>Arrivando dalla tangenziale est, prendere l'uscita "Labrate" e proseguire verso piazzale Udine.</p>
		</div>

		<div class="column_3">
			<h5>In treno</h5>
			<p>
				<strong>Dalla stazione Centrale</strong>: prendere la metro M2 (verde) e scendere alla fermata Udine. La location dista 3 minuti a piedi.
			</p>
		</div>
		<div class="column_3">
			<h5>In treno</h5>
			<p>
				<strong>Dalla stazione Lambrate</strong>: la location dista 10 minuti a piedi.
			</p>
		</div>
		
		<div class="column_3">
			<h5>Mezzi pubblici</h5>
			<p>
				<strong>Metro</strong> M2 Udine<br /> 
				<strong>Autobus</strong> 53, 55, 75, 175, 925
			</p>
		</div>
	</div>


	<div class="clear"></div>
</div>
<div class="separator"></div>
</section>