<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script>
            function initialize_map() {
                var mapOptions = {
                    zoom: 15,
                    center: new google.maps.LatLng(44.520821,11.347868),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);

                var I3P = new google.maps.Marker({
                    position: new google.maps.LatLng(44.520821,11.347868),
                    map: map,
                    icon: 'img/marker.png',
                    title:"T3LAB"
                });



            }
        </script>
        
<section class="alpha_32" >
    <a name="location"></a>
    <div class="container group" >
        <h3 class="column_12">Location</h3>
        <div class="column_6 map">
            <div id="map_canvas"></div>
        </div>

        <div class="column_6 legend right">
            <dl>
                <dt class="event_location"><span><strong>Event location</strong></span></dt>
                <dd  class="event_location">
                    <a href="http://www.t3lab.it">T3LAB</a><br/>
                    via Sario Bassanelli, 9/11<br/>
                    40129 – Bologna (BO)

                </dd>

            </dl>
        </div>

        <div class="clear"></div>

        <div class="column_3">
            <h5>In auto</h5>
            <p>Dall’autostrada uscire a Bologna Arcoveggio, prendere la tangenziale ed uscire subito dopo alla numero 6. Proseguire verso il centro città; dopo aver superato il sottopasso ferroviario svoltare subito a sinistra in via Bassanelli. Il laboratorio si trova a piano terra della Fondazione Aldini (è possibile parcheggiare gratuitamente all’interno del parcheggio della Fondazione).</p>

        </div>

        <div class="column_3">
            <h5>In treno/autobus</h5>
            <p>Dalla Stazione centrale camminare per 50 metri verso la pensilina dei bus urbani dell’autostazione dei bus (via Indipendenza) e prendere una qualsiasi linea del 27 (A, B o C è indifferente) direzione Corticella (periferia) e scendere alla fermata “Istituto Aldini”, ovvero dopo 6 fermate. La linea 27 ha una frequenza di 5-7 minuti. Arrivati alla fermata, attraversare la strada ed entrare nel cancello del complesso Aldini. Il T3LAB si trova a piano terra della Fondazione Aldini (edificio laterale sulla destra).
                &Egrave; possibile comprare il biglietto presso qualsiasi edicola o tabaccheria al costo di 1,30 &euro;, oppure acquistarlo direttamente a bordo alle self service al costo di 1,50 euro (le macchinette non danno resto).
                Per qualsiasi ulteriore informazione sugli orari e le fermate delle linee urbane ed extra-urbane visita il sito <a href="http://www.tper.it">www.tper.it</a>.</p>
        </div>

        <div class="column_3">
            <h5>In Taxi</h5>
            <p>Per prenotare un taxi è possibile contattare:</p>
            <ul>
                <li>CO.TA.BO. – Telefono +39 051-37.27.27</li>
                <li>CAT RadioTaxi – Telefono +39 051-45.90</li>
            </ul>
            <p>Per una corsa con partenza dalla stazione centrale o dal centro storico di Bologna il costo indicativo è di circa 8-10 euro.
            </p>
        </div>

        <div class="column_3">
            <h5>Pernottamento</h5>
            <p>
                <a href="http://www.booking.com/searchresults.html?src=city&nflt=&city=-111742&error_url=http%3A%2F%2Fwww.booking.com%2Fcity%2Fit%2Fbologna.it.html%3Fsid%3Da1b8ab0e936b87934cc499e966f96178%3Bdcid%3D1%3Binac%3D0%3B&dcid=1&lang=it&sid=a1b8ab0e936b87934cc499e966f96178&checkin_monthday=0&checkin_year_month=0&checkout_monthday=0&checkout_year_month=2013-6&idf=on&org_nr_rooms=1&org_nr_adults=2&org_nr_children=0" target="_blank">Alberghi in zona</a>
            </p>
        </div>
    </div>


    <div class="clear"></div>

    <div class="separator"></div>
</section>