<script>
function initialize_map() {
}
</script>
<a name="location"></a>
<section class="alpha_32">
	<div class="container group">
		<h3 class="column_12">Location</h3>
		<div class="column_6 map">
			<div id="map_canvas"></div>
		</div>

		<div class="column_6 legend right">
			<dl>
			  <dt class="event_location"><span><strong>in via di definizione</strong></span></dt>
		    <dd  class="event_location">
		    	in via di definizione
			</dd>
			</dl>
		</div>
	</div>


	<div class="clear"></div>
</div>
<div class="separator"></div>
</section>