<section class="supporter">
  <a name="sponsor"></a>
  <div class="container group">

    <div class="container group">

{% if page.cfs %}

    <div class="column_6 centered">
      <h3 class="center">Sponsorizza</h3>
      <p>Un grande evento è fatto anche di grandi sponsor, perché quindi non sfruttare l'occasione e contribuire alla conferenza?<p>
      <p><a href="mailto:info@grusp.org">Contattaci</a> per sapere come sponsorizzarci! Oltre ai piani di sponsorizzazione standard potrai sponsorizzare coffee break ed il pranzo. Chiedici come!</p>
    </div>
    <div class="clear"></div>

    <div class="column_4">
      <h4 class="gold">Gold</h4>
      <span class="euro btn">€ 1000</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>Posizionamento del vostro flyer nella sala</li>
        <li>3 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="silver">Silver</h4>
      <span class="euro btn">€ 500</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Pubblicità nelle comunicazioni pre-evento</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>Presenza logo sul programma stampato</li>
        <li>2 biglietti gratuiti</li>
      </ul>
    </div>

    <div class="column_4">
      <h4 class="bronze">Bronze</h4>
      <span class="euro btn">€ 300</span>
      <ul class="benefit">
        <li>Banner sul sito</li>
        <li>Autorizzazione a portare pubblicità e gadget (ie. volantini, adesivi, magliette)</li>
        <li>1 biglietto gratuito</li>
      </ul>
    </div>

    <div class="clear"></div>
  </div>

{% endif %}

  <h3>Gli Sponsor</h3>

  <div class="platinum_supporter">
      <h4 class="platinum">Main sponsor</h4>

  </div>

  <div class="gold_supporter">
    <h4 class="gold">Gold</h4>

    <a class="banner" href="http://www.ideato.it" title="Ideato">
      <img src="/img/sponsors/sponsor_ideato_w.png" alt=" ideato"  />
    </a>


      <a class="banner" href="http://www.kerning.it" title="kerning">
          <img src="/img/sponsors/sponsor_kerning.jpg" alt=" kerning conference" />
      </a>

    <div class="clear"></div>
  </div>

  <div class="silver_supporter">
    <h4 class="silver">Silver</h4>

    <div class="clear"></div>
  </div>

  <div class="bronze_supporter">
    <h4 class="bronze">Bronze</h4>


    <br>

    <a class="banner" href="https://www.WorkWave.com" title="WorkWave">
      <img src="/img/sponsors/sponsor_workwave.jpg" alt="WorkWave"/>
    </a>

    <a class="banner" href="http://www.phpbestpractices.it" title="PHP best practices">
      <img src="/img/sponsors/sponsor_phpbestpractices.png" alt=" PHP best practices"/>
    </a>

    <a class="banner" href="http://www.jsbestpractices.it" title="JS best practices">
      <img src="/img/sponsors/sponsor_jsbestpractices.png" alt=" Js best practices" />
    </a>

    <a class="banner" href="http://www.phpday.it" title="phpday">
      <img src="/img/sponsors/sponsor_phpday.png" alt=" phpday" />
    </a>

    <a class="banner" href="http://www.jsday.it" title="jsday">
      <img src="/img/sponsors/sponsor_jsday.png" alt=" jsday" />
    </a>

    <div class="clear"></div>
  </div>

  <h3>Media Partner</h3>
  <div class="bronze_supporter" id="media-partners" data-tags="{{ site.media_tags }}"></div>

  </div>
  <div class="separator"></div>
</section>
