<a name="cfp"></a>
<section class="alpha_24">
  <div class="container group">
  <div class="column_6 centered">
    <h3 class="center">Call for Paper</h3>
    <p>Il <a href="{{page.cfp_url}}">call for paper è aperto</a> a tutti e chiuderà il <strong>30 gennaio 2016</strong>. <br/>

    Affrettati ad <a href="{{page.cfp_url}}">inviarci la tua proposta</a>. I relatori selezionati avranno rimborsata la notte d'albergo precedente all'evento.</p>
  </div>

    <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
