<a name="workshop"></a>
<section class="alpha_24">
  <div class="container group">
      <div class="column_8 centered">
      <h3 class="center">Workshop</h3>
      <p>
      Il 17 Marzo si terrà il workshop <strong>Introduzione a SASS</strong>, potete acquistare il biglietto tramite il seguente link. A tutti i partecipanti verrà rimborsato il biglietto della conferenza (se già acquistato).</p>
      <p>
      Il workshop sono tenuti da <a href="https://twitter.com/vittoriovittori">Vittorio Vittori</a> di Ideato.
      </p>
      <!--p style="font-size:12px">
      <i>Informazioni aggiuntive</i>:<br />
      - I workshop inizieranno alle 9:30 e terminerà alle 18:00, con una pausa pranzo dalle 13:00 alle 14:00. La sala del workshop sarà aperta dalle 9:00 di mattina.<br />
      - Il workshop è rivolto agli sviluppatori PHP che già conoscono i fondamenti alla base dello sviluppo orientato agli oggetti. La conoscenza pregressa del pattern MVC e delle funzionalità specifiche di PHP 5.3 come namespace e funzioni anonime è utile ma non necessaria.<br />
      - Per massimizzare l’apprendimento, ti consigliamo di portare il tuo portatile. Prima dell'inizio del corso renderemo disponibili le istruzioni per il setup di una macchina virtuale che utilizzeremo come sandbox per lo sviluppo degli esercizi pratici previsti per la giornata.
      </p-->
      <p>Per maggiori informazioni o per iscriverti ai workshop segui i seguenti link:
      <ul>
        <li><a href="#">Introduzione a SASS</a></li>
      </ul>


      </p>
  </div>
  </div>

  <div class="separator"></div>
</section>
