<a name="info"></a>
<section class="alpha_24">
<div class="container group">

    <div class="column_6 centered">
        <h3 class="center">La conferenza</h3>
        <div class="vimeo_video">
            <iframe src="https://player.vimeo.com/video/127654710?color=e34e35&title=0&byline=0&portrait=0" class="vimeo_video__iframe" height="293" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>I <strong>CSS</strong> sono uno degli strumenti più potenti, ed allo stesso tempo sottovalutati, del nuovo rinascimento del web.</p>
        <p>Nato come evento interno ad una track del <a href="http://www.jsday.it">JsDay</a> e dallo stesso team di organizzatori dietro a <a href="http://www.kerning.it">Kerning</a>, il CSSDay vuole dare una dignità alla tecnologia che rende tutti i siti più leggibili, interattivi ed anche belli da vedere. Durante l'evento si discuteranno di tecnologie con LESS o SASS, di CSS Framework come Bootstrap, Foundation e simili e si introdurranno le best practices sull'argomento.</p>
    </div>


  <div class="clear"></div>
</div>
<div class="separator"></div>
</section>
