<a name="programma"></a>
<section class="alpha_24">
  <div class="container group">
    <h3 class="center">Il programma</h3>
    <table id="schedule" border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Time
          </th>
          <th>
            Track 1
          </th>

        </tr>
      </thead>
      <tr class="common_event">
        <td class="time">09:00 &ndash; 09:30</td>
        <td><h4><a href="#" onclick="javascript:return(false);">Check-in</a></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">09:30 &ndash; 09:40</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione GrUSP</a></h4>
        </td>
      </tr>
	  
      <tr class="common_event">
        <td class="time">09:40 &ndash; 9:55</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);">Presentazione xpugRomagna</a></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">9:55 &ndash; 10:40</td>
        <td>
            <h4><a href="#" onclick="javascript:return(false);" rel="tooltip" title="In questa sessione non vogliamo parlare solo del nuovo browser di Microsoft, introdotto con Windows 10, ma anche di come si può ottenere la massima compatibilità con gli standard web attuali.
Dopo una breve introduzione a Microsoft Edge e agli strumenti a disposizione degli sviluppatori web per la verifica e la risoluzione dei problemi di compatibilità, vedremo alcuni esempi pratici di utilizzo delle funzionalità del CSS per ottenere applicazioni web che garantiscono una migliore esperienza utente indipendentemente dal tipo di browser e dispositivo utilizzato per visualizzarle.">Microsoft Edge e il web moderno
</a></h4>
            <a href="http://twitter.com/_jetiba" title="Jessica Tibaldi">Jessica Tibaldi - @_jetiba</a><br>
            <!--a href="http://www.slideshare.net/verlok/sviluppo-css-agile-con-sass-e-compass-css-day-2015-faenza" class="slides">slides</a>
            - <a href="https://vimeo.com/channels/italiancssday/127657735" class="video">video</a-->
        </td>
      </tr>

      <tr class="break">
        <td class="time">10:40 &ndash; 10:55</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">10:55 &ndash; 11:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="Il talk illustrerà il mio percorso personale sui vari approcci CSS, i vantaggi e svantaggi riscontrati. Arriverò allo sviluppo con BEM e all'utilizzo delle style guide per CSS, utili per poter dare ai team la possibilità di mantenere coding standard consistente e affrontare con più facilità le applicazioni scalabili.">Teams, styles and scalable applications</a></h4>
            <a href="http://twitter.com/vttrx" title="Vittorio Vittori">Vittorio Vittori - @vttrx</a><br>

        </td>
      </tr>


      <tr class="common_event">
        <td class="time">11:30 &ndash; 12:15</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Il Responsive Image Community Group e le Responsive Images hanno preso gli oscar del web come Best Collaborative Project e Best New Web Technology (fonte https://thenetawards.com/). Durante il talk si tratterranno
- le principali tecniche presenti (e passate) per le immagini responsive
- esempi pratici su come generarle e come sceglierle
- tool di riferimento
- sviluppi futuri
">Responsive Images: ieri, oggi, domani</a></h4>
            <a href="http://twitter.com/decarola" title="Andrea De Carolis">Andrea De Carolis - @decarola</a><br>

          </td>
      </tr>

      <tr class="common_event">
        <td class="time">12:20 &ndash; 12:50</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip"  title="About Flexbox:
We will see why flex-box is, today, the best choice about CSS layout. We will discover the alternatives and we will analyze all the Flexbox options">About Flexbox: you can't float anymore. </a></h4>
            <a href="http://twitter.com/MakhBeth" title="Davide	Di Pumpo">Davide Di Pumpo - @MakhBeth</a><br>
        </td>
      </tr>

      <tr class="break lunch">
      <td class="time">12:50 &ndash; 14:00</td>

        <td><h4><strong>Pranzo</strong></h4></td>
      </tr>

      <tr class="common_event">
        <td class="time">14:05 &ndash; 14:35</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Un viaggio nel futuro alla scoperta delle nuove custom properties CSS. Cosa porteranno nei nostri siti e come cambieranno il modo di progettare e scrivere fogli di stile">One step in the future: CSS Variables</a></h4>
            <a href="http://twitter.com/giacomozinetti" title="Giacomo	Zinetti">Giacomo Zinetti - @giacomozinetti</a><br>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">14:40 &ndash; 15:15</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="La ricerca dell'hack perfetto per gestire lo stato globale dei CSS è finalmente finita.
I CSS definiti nello Shadow DOM hanno come scope lo ShadowRoot. Questo vuol dire che gli stili vengono incapsulati di default.
">The CSS in the Shadow</a></h4>
            <a href="http://twitter.com/granze" title="Maurizio	Mangione">Maurizio	Mangione - @granze</a><br/>
        </td>
      </tr>


        <tr class="common_event">
            <td class="time">15:20 &ndash; 15:50</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Il talk ha come scopo raccontare come sia stato dapprima l'introduzione di sturmenti di preprocessori come sass/less/stylus e in un secondo momento il passaggio a strumento di postproduzione del css come appunto postcss">From preprocessor to postprocessor</a></h4>
                <a href="http://twitter.com/j8matteo" title="Matteo	Guidotto">Matteo Guidotto - @j8matteo</a><br/>
            </td>
        </tr>


      <tr class="break">
        <td class="time">15:50 &ndash; 16:15</td>
        <td>
          <h4><strong>Pausa</strong></h4>
        </td>
      </tr>


        <tr class="common_event">
            <td class="time">16:15 &ndash; 16:45</td>
            <td>
                <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Uno degli aspetti che trova meno spazio durante la fase di sviluppo frontend di un sito è l'attenzione all'accessibilità per utenti diversamente abili. In questo talk verranno esposti alcune tecniche HTML e CSS per rendere più accessibili form e controlli UI per ottimizzare l'esperienza di navigazione per tutti gli utenti di un sito.">Accessibility tips & tricks for CSS developers</a></h4>
                <a href="http://twitter.com/@dwightjack" title="Marco Solazzi">Marco	Solazzi - @dwightjack</a><br>
            </td>
        </tr>


      <tr class="common_event">
        <td class="time">16:50 &ndash; 17:25</td>
        <td>
            <h4><a href="#"  onclick="javascript:return(false);" rel="tooltip" title="Che senso ha scrivere ancora CSS? Da un lato, ci sono moltissimi tool che permettono di costruire pagine web in maniera decente attraverso un'iterfaccia grafica. Dall'altro, i progressi di JavaScript nel costruire moduli riutilizzabili e isolati sta inglobando anche la parte di stile, rendendo superflui - se non obsoleti - i fogli di stile per come li conosciamo. Una riflessione sul presente e il futuro di CSS, con insieme un occhio speciale su come cambia la professione di chi lavora con lo stile per le pagine web..">Niente trucchi da quattro soldi</a></h4>
            <a href="http://twitter.com/matteomced" title="Matteo	Cavucci">Matteo	Cavucci - @matteomced</a><br>
        </td>
      </tr>

      <tr class="common_event">
        <td class="time">17:30</td>
        <td><h4><a href="#" title="">Chiusura</a></h4></td>
      </tr>
    </table>

  </div>

  <div class="separator"></div>
</section>
