<a name="newsletter"></a>

<section class="alpha_8">
        <div class="container group">

        <!-- Follow us -->
              
                <div class="column_6 centered">
                        <h4 class="deco">Iscriviti alla newsletter</h4>
                  
                        <div id="subscription-box" class="center">

                               
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; display:inline; }
        #mc_embed_signup input.email { display: inline;}
        #mc_embed_signup input.button { width: 20%; display: inline;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://grusp.us5.list-manage.com/subscribe/post?u=29d918424cd5375f4c0c54c00&amp;id=204120a4eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="rimani aggiornato sui nostri eventi" required>
        <input type="hidden" value="1" name="group[7981][1]">
        <input type="submit" value="iscriviti" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->




                <div>
                        
                        <div class="follow_us">
                            <h4 class="deco">Seguici!</h4>
                            <ul class="social_grusp">
                                <!-- <li class="grusp_fb"><a href="https://www.facebook.com/events/299154440195408/" title="">Facebook</a></li> -->
                                <li class="grusp_twitter"><a href="http://twitter.com/symfonydayit" title="">Twitter</a></li>
                                <li class="grusp_vimeo"><a href="http://vimeo.com/grusp" title="">Vimeo</a></li>
                            </ul>
                        </div
                        
        
                        <div class="clear"></div>

                <div>    

        <div class="separator"></div>
</section>
