<header class="header">
  <div class="limit">
    <div class="header__row">
      <a href="/" class="header__logo">
        <img class="header__logo-image" src="/img/themes/{{ site.conf.theme }}/{{ site.conf.theme }}-logo.svg">
      </a>
      <h1 class="header__conf-name">
        {{ site.conf.name }} {{ site.conf.year }}
      </h1>
      <nav class="header__menu">
        <div class="header__menu-desktop">
          <a href="#" class="button">
            Speakers
          </a>
          <a href="#" class="button">
            Schedule
          </a>
          <a href="#" class="button">
            Location
          </a>
          <a href="#" class="button">
            Sponsors
          </a>
          <a href="#" class="button button--register">
            Register
          </a>
        </div>

        <div class="header__menu-mobile">
          <a href="#" class="button button--menu">
            <i class="icon-minus"></i>
            <i class="icon-minus"></i>
            <i class="icon-minus"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
