<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Who is it for?
      </h4>
      <p class="conf-infos__text">
        PHP day is aimed to IT managers, developers and innovators.
      </p>
      <p class="conf-infos__text">
        Each year it renews the opportunity to link to new business partners.
      </p>
      <h4 class="conf-infos__title">
        What do you get?
      </h4>
      <p class="conf-infos__text">
        We'll show new development traits, best-practices and success cases related to
        quality, revision control, test-driven development, continuous integration and so
        on.
      </p>
      <p class="conf-infos__text">
        There are also talks about design, project management, agile and various
        php-related technologies like Zend Framework2, Symfony2, Laravel, Drupal,
        Wordpress and more.
      </p>

      <div class="vimeo">
        <iframe class="vimeo__video" src="https://player.vimeo.com/video/176058670?color=8caceb" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
        <div class="mega-info__number">2</div>
        <div class="mega-info__text">Tracks</div>
      </div>
      <div class="mega-info mega-info--responsive">
        <div class="mega-info__number">2</div>
        <div class="mega-info__text">Days</div>
      </div>

      <div class="vimeo-phrase">
        Dedicated<br>
        solely to PHP<br>
        development<br>
        and<br>
        management.
      </div>
    </div>
  </div>
</section>
