<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Cos'è?
      </h4>
      <p class="conf-infos__text">
        I CSS sono uno degli strumenti più potenti, ed allo stesso tempo sottovalutati, del nuovo rinascimento del web.
      </p>
      <p class="conf-infos__text">
        Nato come evento interno ad una track del JsDay e dallo stesso team di organizzatori dietro a Kerning, il CSSDay vuole dare una dignità alla tecnologia che rende tutti i siti più leggibili, interattivi ed anche belli da vedere. 
      </p>
      <h4 class="conf-infos__title">
        Cosa imparerai?
      </h4>
      <p class="conf-infos__text">
        Durante l'evento si discuteranno di metodologie come BEM, tecnologie con LESS o SASS, di CSS Framework come Bootstrap, Foundation e simili e si introdurranno le best practices sull'argomento.
      </p>

      <div class="vimeo">
        <iframe class="vimeo__video" src="https://player.vimeo.com/video/127654710?color=e34e35&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      

      <div class="vimeo-phrase">
        Dedicata<br>
        a frontend<br>
        developer<br>
        e<br>
        designer.
      </div>
    </div>
  </div>
</section>
