
$font-family-sans: helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;
$font-family-monospace: menlo, monaco, 'courier new', monospace;


$color-jordy-blue: rgb(139, 171, 234);
$color-carnation: rgb(244, 86, 86);
$color-mine-shaft: rgb(45, 45, 45);
