@include block ('intro') {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  height: 100vh;
  padding: s(4);

  @include media ('<mobile-large') {
    height: 250px;
    margin-top: 50px;
  }

  @include media ('>=mobile-large') {
    height: 100vh;
    margin-top: 20px;
  }

  @include media ('>=tablet-small') {
    height: 430px;
  }

  @include media ('>=tablet-large') {
    height: 750px;
  }

  @include media ('>=desktop-large') {
    height: 100vh;
  }

  @include element ('title') {
    font-family: $font-header;
    font-size: 38px;
    margin-top: s(4);


    @include media ('>=mobile-large') {
      font-size: 70px;
      margin-top: s(7);
    }

    @include media ('>=tablet-small') {
      font-size: 80px;
      margin-top: s(9);
    }

    @include media ('>=tablet-large') {
      font-size: 120px;
      margin-top: s(21);
    }

    @include media ('>=desktop-large') {
      font-size: 130px;
    }
  }

  @include element ('where-when') {
    font-family: $font-title;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;

    @include media ('<tablet-small') {
      font-size: 20px;
    }
  }
}
