<div class="sponsor-intro">
  <h1 class="sponsor-intro__title">Sponsor</h1>
  <div class="limit">
    <h3 class="sponsor-intro__question">
      Is your activity connected<br>
      with PHP or the Web?
      <span class="sponsor-intro__question-red">
        Do you want to participate in<br>
        the making of phpDay?
      </span>
    </h3>

    <div class="sponsor-intro__row">
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          Great idea! You will contribute to the success of an event that is unique in Italy and will receive a remarkable visibility.
        </p>
        <p class="sponsor-intro__text">
          A short description of the venue is necessary before detailing the six levels of sponsorship: the conference will be held in different rooms, all facing an atrium with a reception where various stands will be available for informations. GrUSP will be present with a stand for informations and registrations.
        </p>
      </div>
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          For stand we mean a space at your disposal with 1 or 2 tables, a couple of chairs, network connectivity and power supply.<br>
        </p>
        <p class="sponsor-intro__text">
          A folder with the program of the conference and a flyer with sponsors' logos will be given to every participant. It will be possible to expose in all rooms an advertising billboard (A3 format).<br>
        </p>
        <p class="sponsor-intro__text">
          Route from the Airport.
        </p>
      </div>
    </div>

  </div>

</div>
