<div class="report">
  <div class="limit">

    <div class="report__link">
      <a href="#" class="button">
        Download phpday 2015 report
      </a>
    </div>

    <h3 class="report__title">
      php day
      <span class="report__title-sub">
        in figures
      </span>
    </h3>

    <div class="report__row">

      <div class="report__row-column">
        <h4 class="report__year">
          2016
        </h4>
        <div class="report__detail">
          Attendees <b>318</b>
        </div>
        <div class="report__detail">
          Speakers <b>24</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2015
        </h4>
        <div class="report__detail">
          Attendees <b>318</b>
        </div>
        <div class="report__detail">
          Speakers <b>24</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2014
        </h4>
        <div class="report__detail">
          Attendees <b>318</b>
        </div>
        <div class="report__detail">
          Speakers <b>24</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2013
        </h4>
        <div class="report__detail">
          Attendees <b>318</b>
        </div>
        <div class="report__detail">
          Speakers <b>24</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>

    </div>

  </div>
</div>
