<div class="sponsorship">
  <div class="limit">
    <div class="sponsorship__title">
      <div class="sponsorship__title-small">
        Sponsorship
      </div>
      Options
    </div>
    <div class="sponsorship__you-can">
      You can sponsor phpDay in several ways:
    </div>

    <div class="sponsorship__row">
      <div class="sponsorship__row-column">
        <h4 class="sponsorship__text-title">
          Special events
        </h4>
        <p class="sponsorship__text">
          During the conference there are various moments for social aggregation between participants: coffee breaks, lunch, social night, speaker's dinners and pre-dinner aperitifs. Please get in touch with us to arrange the options that best suits your needs, or to share a brilliant sponsoring idea.
        </p>
      </div>
      <div class="sponsorship__row-column">
        <h4 class="sponsorship__text-title">
          Full packages
        </h4>
        <p class="sponsorship__text">
          You can also choose between one of the following sponsorship packages.
          You can pay via paypal clicking on the button, or you can send an international money transfer using these codes:<br>
          IBAN <b>IT69G0200811773000104073614</b><br>
          SWIFT/BIC <b>UNCRITM1M067</b>
        </p>
      </div>
    </div>
</div>
</div>
