<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.ttl }} {{ page.conf_anno }} - {{ page.conf_data }}</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <meta property="og:url" content="http://2016.cssday.it">
  <meta property="og:title" content="CSSDay {{ page.conf_data }} - Conference e Workshop">
  <meta property="og:image" content="http://2016.cssday.it/img/confs/css/cssday.png">

  <link rel="stylesheet" href="/css/frontsize.min.css">
</head>

<body>
  {{ content }}
</body>
</html>
